* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;
}
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    padding: 0px;
}
.layar-dalam{
    width: 1000px;
    margin: auto;
}
.layar-penuh {
    width: 100%;
}
nav {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid #fff;
    line-height: 60px;
    width: 100%;
    transition: background-color 0.5s ease;
}
nav.putih{
    background-color: #fff;
}
nav .logo{
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
}
nav .logo img{
    width: 120px;
    vertical-align: middle;
}

nav .menu {
    float: right;
    height: 60px;
    max-width: 600px;
}

nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav .menu ul li {
    list-style-type: none;
    float: left;
    line-height: 60px;
}

nav ul li a {
    color: #fff;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* pengaturan header */

header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}
header video {
    position: absolute;
    top: 2;
    left: 1;
    object-fit: cover;
    z-index: -4;
}
header .intro {
    z-index: 100;
    color: #F9F7F7;
    text-align: center;
    position: relative;
    top: 50%;
}
header .intro h3 {
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.tombol {
    background-color: #526D82;
    height: 40px;
    line-height: 42px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px 0px 20px;
    font-size: 15px;
    border-radius: 4px;
}
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 50%;
    z-index: -1;
}
.tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.tombol-menu .garis {
    height: 3px;
    background-color: #fff;
}
section {
    padding: 50px 0px 50px 0px;

}
section h3 {
    font-size: 30px;
}
section h3::after {
    content: "";
    border-bottom: 5px solid #727D73;
    width: 52px;
    display: block;
    margin: 20px auto;
}
#aboutme,
#Hobi {
    text-align: center;
}
section p.Tentang {
    font-style: italic;
    font-size: 18px;
    color: #4C585B;
} 
section .konten-isi p {
    font-style: normal;
}
nav.putih {
    background-color: #fff;
}
nav.putih .tombol-menu .garis {
    background-color: #333;
}
nav.putih ul li a {
    color: #333;
}
nav .logo img.hitam {
    display: none;
}
section .abuabu {
    background-color: #BCCCDC;
}
.account,
.Hobi {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.account h6, 
.Hobi h6 {
    margin-top: 50pxpx;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
}
.account img {
    width: 80px;
}
.account div, 
.Hobi div {
    text-align: center;
    width: 26%;
}
section#gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}
section#gallery div {
    padding: 15px;
}
section#gallery div img {
    height: 100px;
    border-radius: 8px;
}
section#gallery div img:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.5);
}
section.hobbie {
    background: url('asset/APA.jpg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-style: italic;
    padding: 100px;
}
section.hobbie .layar-dalam p {
    display: inline;
    background: url('asset/quote-icon.png') no-repeat;
    padding: 40px;
}
.Hobi img {
    width: 100%;
    box-shadow: 0px -10px 30px #ccc;
    border-radius: 5px;
}
@media screen and (max-width:991.98px) {
    .layar-dalam {
        width: 90%;
    }
    nav .menu ul {
        display: none;
        position: absolute;
        margin-top: 60px;
        top: 0;
        left: 0;
        width: 100%;
    }
    nav .menu ul li {
        width: 100%;
        border-bottom: 1px solid #ccc;
        background-color: #F9F7F7;
        line-height: 40px;
    }
    nav .menu ul li a {
        color: #333;
    }
    .tombol-menu {
        display: flex;
    }
}
    

    

    